NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyArywJWtBe7rXNM-zETPcHMDTF8Li9ABRY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=music-space-fe322.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=music-space-fe322
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=music-space-fe322.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=405253103561
NEXT_PUBLIC_FIREBASE_APP_ID=1:405253103561:web:e3099f8be19cae2ab95218
